<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#e8f4fc;">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
        </div>
    </nav>
    <section class="vh-100" style="background-color: #f0f7fb;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Student Details</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STUDENT NAME</th>
                                        <th>ADDRESS</th>
                                        <th>AGE</th>
                                        <th>JOINING DATE</th>
                                        <th>COURSE NAME</th>
                                        <th>COURSE FEE</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in students %}
                                    <tr>
                                        <td>{{ s.student_name }}</td>
                                        <td>{{ s.student_address }}</td>
                                        <td>{{ s.student_age }}</td>
                                        <td>{{ s.joining_date }}</td>
                                        <td>{{ s.course.course_name }}</td>
                                        <td>{{ s.course.fee }}</td>
                                        <td>
                                            <a href="{% url 'edit' s.id %}" class="btn btn-warning">Edit</a>
                                            <a href="{% url 'delete' s.id %}" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
